<ul class="countries__list">
  {{#each this}}
  <li data-alfa3code="{{this.ccn3}}">{{this.name.official}}
    <img class="countries__flag" src="{{this.flags.png}}" alt="{{this.name.official}}">
  </li>
  {{/each}}
</ul>
